[Desktop Entry]
Name=Network Sharing Management
Name[ru]=Управление общим доступом
Comment=Samba Network Sharing Management
Comment[ru]=Управление общим доступом через Samba
Exec=thunar-plugger -p -c TspPage %u
Icon=gnome-fs-share
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-directory/normal;inode/directory;
Categories=GTK;Utility;
